<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
	<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />

	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		
	</connectionStrings>

	<superSocket xmlns="http://schema.supersocket.net/supersocket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
		<servers>
			
			<server name="MyTelnetServer" serverType="SuperSocketSample.MyTelnetServer, SuperSocketSample" ip="Any" port="9099" maxConnectionNumber="100000" clearIdleSession="true" clearIdleSessionInterval="240">
			</server>
		</servers>
	</superSocket>
</configuration>